---
layout: default
title: Blog page
seo: 
   title: 
   description: 
   social_image:
   twitter_card: 
   keywords: 
   hide-from-google: false
---
<section class="padded">
    <div class="capped-width grid-center">

        <div class="col-9 padded-05 center margin-b-1">
            <h1>Latest on the blog</h1>
        </div>

        {% for post in site.posts limit:12 %}
            <div class="padded-1 col-4_xs-12 post-item">
                <div class="bg-image square" style="background-image: url('{{post.featured_image}}')"></div>
                {% for item in post.categories %}
                    <span class="tag">{{item}}</span>
                {% endfor%}

                <h2 class="margin-t-1">{{post.title}}</h2>
                <p>{{post.description}}</p>
                <a href="{{post.url}}" class="subtle-button">Read more</a>
            </div>
        {% endfor %}

    </div>    
</section>


