
        <!-- Footer Section -->
        <footer class="grid-bottom  bg-dark light-text" id="contact">
            <div class="col-8_sm-12 padded center-sm">
                <h2 class="logo">The Design Collective</h2>
                <h3>Web Design & Web Development</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod praesentium doloribus, obcaecati labore beatae debitis cupiditate qui earum explicabo, molestias ducimus, possimus reiciendis. Porro voluptatem quis quisquam ipsam repellendus. Ducimus.</p>
            </div>
            <div class="col-4_sm-12 right padded center-sm">
                <h3>Let's Connect.</h3>
                <nav>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </nav>
            </div>
            <div class="col-12 center padded-t">
                <p class="col-12 center light-text subtle">Copyright 2021</hp>
            </div>
        </footer>