<!-- header: logo + navigation menu-->
<header class="grid-middle">
    <div class="col-6_sm-12 padded-0 center-sm">
        <h1> <a href="index.html">The Design Collective.</a></h1>
    </div>
    <nav class="col-6_sm-12 padded-0 right center-sm">
        <a href="/about">About us</a>
        <a href="/services">Services</a>
        <div class="dropdown">
            <span class="dropdown-title">Categories</span>
            <div class="dropdown-content">
                <a href="/food">Food</a>
                <a href="/bali">Bali</a>
                <a href="/self-care">Self Care</a>
                <a href="/travel">Travel</a>
            </div>
        </div>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

